<!DOCTYPE html>
<!--导入模板标签-->
<html lang="en" xml:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户列表数据</title>
	<!-- 引入函数类库 -->
    <script src="/jquery-3.6.0.min.js"></script>
	
</head>
<body>
    <!--准备一个表格-->
    <table border="1px" align="center" width="600px">
        <tr>
            <th colspan="4"><h3>用户列表</h3></th>
        </tr>
        <tr>
            <th >ID</th>
            <th >名称</td>
            <th >年龄</th>
            <th >性别</th>
        </tr>
    </table>
	
	<script>
		//1.jQuery 中有一种编程思想  函数式编程
		$(function(){
			//让整个页面加载完成之后再次执行,以后所有的操作都应该在函数内完成!!!
			alert("aaaa")
			
		})
		
	</script>
</body>
</html>