<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	namespace
	1.Mapper.xml配置文件的唯一标识
	2.需要与Mapper接口保持一致
		UserMapper。findAll();  通过方法映射Sql语句!!!
-->
<mapper namespace="com.jt.mapper.UserMapper">
	<!--完成用户入库操作-->
	<insert id="insertUser" >
		INSERT INTO demo_user(id,name,age,sex)
		values (null,#{name},#{age},#{sex})

	</insert>

	<!--修改用户信息-->
	<!--void updateUser(String oldName, String nowName, String sex)-->
	<update id="updateUser">
		UPDATE demo_user set name = #{nowName} where name = #{oldName} and sex = #{sex}
	</update>


	<!-- 查询表情必须有返回值
		resultType:直接返回pojo对象的数据  单表查询
		resultMap:适用于关联查询的结果封装 一般采用第三方对象接收

		问题:能否将不变的包路径进行优化???
		解决方案:定义别名包即可
		resultType="包名.类名"
		resultType="com.jt.pojo.DemoUser"

		定义别名包
		type-aliases-package: com.jt.pojo
		resultType="DemoUser"  可以直接返回对象的名称

		程序解析时: 首先根据别名包的名称进行路径的拼接

	-->
	<select id="findAll" resultType="DemoUser">
		select * from demo_user
	</select>

</mapper>